.glass-card-payment {
  background: rgba(90, 90, 90, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 800px;
  margin-top: 70px;
}
body {
  font-family: "Poppins", sans-serif;
}
.paymentbtn button {
  padding: 8px 18px !important;
  background-size: 400% 400%;
  transition: all 0.4s ease-in-out;
}
