@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --glow-color: hsl(240, 100%, 92%);
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  background-size: cover;
  background-position: center center fixed;
  background-repeat: no-repeat;
}
.full-height {
  height: 100vh; /* vh stands for viewport height */
}

img {
  mix-blend-mode: multiply;
}
.navbar-custom {
  background-image: linear-gradient(45deg, #0a47a2d0, #d43f8d);
}
.navbar {
  box-shadow: rgba(29, 29, 53, 0.621) 0px 13px 27px -5px,
    rgba(131, 3, 3, 0.566) 0px 8px 16px -8px;
  border-radius: 6px;
  /* margin-bottom: 1.5%; */
}
.navbar-custom .navbar-nav .nav-link {
  letter-spacing: 1px;
  color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  transition: all ease-in 0.1s;
  color: rgb(255, 164, 53);
  letter-spacing: 3px;
}

.navbar-nav.navbar-center {
  margin: auto;
}

.loginbutton button {
  border-radius: 50px;
  padding: 3px 12px;
  background-image: linear-gradient(45deg, #00afe0, #e80013);
  background-size: 400% 400%;
  transition: all 0.4s ease-in-out;
  color: white;
  border: 2px solid white;
}

.loginbutton button:hover {
  background-position: right center;
  animation: gradientShift 1s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.488);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  mix-blend-mode: multiply;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, -0px);
  }
}
