@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --glow-color: hsl(240, 100%, 92%);
  --main-color-1: #AD1047;
  --main-color-2: #3C5A9A;
  --btn-color-1: #007e8f;
  --btn-color-2: #459a6b;
  --p-color-1: #D87B2F;
  --p-color-2: #F5E8E8;
  --a-color-1: #FBE8EE;
  --a-color-2: #3C5A9A;
}

html, body{
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}
.mainhead {
  background-image: linear-gradient(
    45deg,
    #dad4ec 0%,
    #dad4ec 1%,
    #edd2d7 100%
  );
}
body {
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(45deg, var(--glow-color), var(--p-color-2));
  background-repeat: no-repeat;
  background-size: cover;
}

html::-webkit-scrollbar{
  display: none;
}

.full-height {
  height: 100vh; /* vh stands for viewport height */
}

.navbar-custom {
  background-image: linear-gradient(125deg, var(--main-color-2), var(--main-color-1));
}
.navbar {
  box-shadow: rgba(29, 29, 53, 0.621) 0px 13px 27px -5px,
    rgba(131, 3, 3, 0.566) 0px 8px 16px -8px;
  border-radius: 6px;
  padding: .5rem 1rem;
}
.headerPic{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  padding: 0 !important;
  box-shadow: rgba(35, 35, 66, 0.61) 0px 50px 100px -20px, rgba(0, 0, 0, 0.752) 0px 30px 60px -30px;
  position: relative;
  border: 1px solid rgb(255, 245, 232);
}

.confirmlogout {
  bottom: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}



.navbar-custom .navbar-nav .nav-link {
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 0 0 4px black;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  transition: all ease-in 0.1s;
  color: rgb(179, 255, 251);
}
.navbar-custom .nav-item .active{
  color: rgb(255, 217, 179) !important;
}
.navbar-nav.navbar-center {
  margin: auto;
}

.navbar li {
  margin: 0 10px;
}

.dropdown-toggle{
  cursor: pointer;
}
.loginbutton button {
  border-radius: 50px;
  padding: 3px 12px;
  background-image: linear-gradient(45deg, var(--btn-color-1), var(--btn-color-2));
  background-size: 400% 400%;
  transition: all 0.4s ease-in-out;
  color: var(--p-color-2);
  border: 2px solid white;
}

.loginbutton button:hover {
  background-position: right center;
  animation: gradientShift 1s ease infinite;
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.modal-content {
  background-color: transparent;
  border: none;
}

.glass-card {
  background: rgba(90, 90, 90, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 3, 38, 0.837);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.647);
  animation: glow 1.5s ease-in-out infinite alternate;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  mix-blend-mode: multiply;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, -0px);
  }
}
@keyframes glow {
  from {
    box-shadow: 0 0 5px rgba(218, 218, 251, 0.425), 0 0 25px #0a47a277,
      0 0 50px rgba(210, 210, 247, 0.177), 0 0 200px rgba(217, 217, 248, 0.226);
  }
  to {
    box-shadow: 0 0 10px #ff000000, 0 0 20px #ff000000, 0 0 40px #ff000000,
      0 0 80px #ff000000;
  }
}


.homeinfo h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  background: -webkit-linear-gradient(45deg, #0a47a2d0, #d43f8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3px 3px rgba(61, 61, 61, 0.396);
  border-radius: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.288) 0px 4px 12px;
  position: relative;
}

.homeinfo h2::before {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  color: rgba(255, 255, 255, 0.05);
  text-shadow: none;
  left: 2px;
  top: 2px;
}
.homeinfo p {
  text-transform: uppercase;
  background: -webkit-linear-gradient(45deg, #0a47a2d0, #d43f8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3px 3px rgba(61, 61, 61, 0.396);
  padding: 4px;
  letter-spacing: 1px;
}
img {
  transition: all 0.3s ease;
  filter: drop-shadow(0 40px 50px rgba(111, 65, 160, 0.555));
  border-radius: 12px;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 38s linear infinite;
}
.marquee span:hover{
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.right-panel{
  overflow-x: hidden;
}
.right-panel::-webkit-scrollbar{
  display: none;
}
.mainbodysection{
  min-height: 95dvh;
}

@media (max-width: 991px) {
  .homeinfo h2 {
    font-size: 17px;
  }
}
.offcanvas{
  background-image: linear-gradient(45deg, var(--p-color-2), var(--a-color-1));
}


.styled-list {
  padding: 10px;
}

.styled-list li {
  padding: 4px;
  text-align: justify;
  color: rgb(97, 0, 0);
  border-bottom: 1px solid var(--main-color-2);
}

.styled-list li:last-child {
  border-bottom: none;
}


.offcanvas-body::-webkit-scrollbar {
  display: none;
}

.offcanvas-body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.neumorphic {
  border-radius: 1rem;
  background: #e0e0e0;
  box-shadow:  -20px -20px 60px #bebebe,
               20px 20px 60px #ffffff;
}
.agreementImg{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid var(--main-color-1);
  padding: 6px;
  transition: padding ease-in-out 0.2s;
}
.agreementImg:hover{
  cursor: pointer;
  padding: 0;
}
.agrrementpoints{
  margin: 0 20px;
}
.usersign{
  width: 200px;
}
.agrrementpoints li{
  padding: 6px;
  background-color: rgba(215, 215, 215, 0.121);
  border: 1px solid var(--main-color-2);
  margin: 8px;
  border-radius: 8px;
  transition: all ease-out 0.2s;
}
.agrrementpoints li:hover{
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.845);
}
.signatures{
  margin-left: auto;
  margin-right: 40px;
}
.signatures img{
  mix-blend-mode: hard-light;
}
.signatures p{
  text-align: right;
  margin-top: 25px;
}
.bankLoad{
  mix-blend-mode: color-burn;
  filter: none !important;
}