.loansection {
  border-radius: 8px;
  background-image: url(./../images/loanbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}


.loan-container .form-container {
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 2px solid white;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  letter-spacing: 1px;
  box-shadow: rgb(50, 50, 93) 0px 50px 100px -20px, rgb(0, 0, 0) 0px 30px 60px -30px;
}

.loansection h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.loansection form {
  margin-top: 3%;
}
.loan-container .form-group label {
  font-weight: bold;
}
.loan-container .form-control-file::-webkit-file-upload-button {
  visibility: hidden;
}
.loan-container .filein {
  transition: all ease-in 0.2s;
  margin: auto;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  border: 2px solid transparent;
  background-image: linear-gradient(45deg, rgb(69, 48, 139), rgb(148, 9, 85));
  /* margin-right: 150px; */
}
.loan-container .filein:hover {
  transition: all ease-in 0.2s;
  cursor: pointer;
  border: 2px solid white;
  padding: 8px 17px;
  background-image: linear-gradient(45deg, rgb(148, 9, 85), rgb(69, 48, 139));
}

.loan-container .loanbtn button {
  padding: 10px 30px !important;
  background-size: 400% 400%;
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
