.loginmodal{
  color: white;
  border: 2px solid whitesmoke;
}
.loginmodal h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.loginmodal a{
  color: white;
  text-decoration: none;
}
.loginmodal a:hover{
  transition: all ease-in 0.08s;
  cursor: pointer;
  letter-spacing: 1px;
}